@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url('../font/Ubuntu-Light.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Ubuntu';
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header div img {
    padding: 50px;
}

header div:nth-of-type(2) {
    display: none;
}

header div span {
    display: block;
    height: 8px;
    width: 60px;
    background-color: #000;
    margin: 4px 10px;
}

header div span:nth-of-type(1), header div span:nth-of-type(3) {
    background-color: #DFAA5B;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    text-decoration: none;
    padding: 30px;
    margin: 10px;
    color: #DFAA5B;
    font-size: 2rem;
}

header nav a:hover {
    color: lightgray;
}

header nav img {
    width: 13px;
    height: 13px;
}

.hero {
    background-image: url('../img/hero_image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero h1 {
    font-size: 8rem;
    font-family: 'Ubuntu-Light';
}

.hero h2 {
    font-size: 3rem;
    font-family: 'Ubuntu-Light';
}

.hero a {
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 2rem;
    margin-top: 30px;
    padding: 15px;
    width: 25vw;
    background-color: #DFAA5B;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.hero a:hover {
    background-color: black;
}

.facilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 35vh;
    width: 100vw;
    margin-bottom: 50px;
}

.facilities h2 {
    font-size: 5rem;
    font-family: 'Ubuntu-Light';
    color: #957554;
    margin: 30px 0;
}

.facilities .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}


figcaption {
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Ubuntu-Light';
    color: #957554;
    margin-top: 10px;
}



/* ======== Pictures ========= */

.rooms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem 4rem;
}

.roomRates {
    font-family: 'Ubuntu';
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
    color: #DFAA5B;
}

.rooms h2 {
    color: white;
    font-family: 'Ubuntu';
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
}

.rooms .twinroom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.rooms .twinroom:nth-of-type(1) {
    background-image: url('../img/standard_room.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 400px;
}

.rooms .twinroom:nth-of-type(2) {
    background-image: url('../img/standard_view_room.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 400px;
}

.rooms .twinroom:nth-of-type(3) {
    background-image: url('../img/standard_twin_room.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 400px;
}

.rooms .twinroom:nth-of-type(4) {
    background-image: url('../img/deluxe_room.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 400px;
}

.rooms .twinroom a {
    font-family: 'Ubuntu';
    font-size: 1.6rem;
    text-decoration: none;
    background-color: #DFAA5B;
    border-radius: 10px;
    /* width: 20%; */
    padding: 10px 45px;
    text-decoration: none;
    color: white;
    margin-bottom: 2rem;
}

/* ========= BOOKING ========== */

.booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu';
    height: 45vh;
    width: 100%;
}

.booking h2 {
    font-family: 'Ubuntu-Light';
    font-size: 4.5rem;
    color: #957554;
    margin-bottom: 20px;
}

.booking a {
    font-size: 2.5rem;
    background-color: #DFAA5B;
    text-align: center;
    font-family: 'Ubuntu';
    margin-top: 10px;
    padding: 25px;
    width: 30vw;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.booking a:hover {
    background-color: black;
}

/* ==== FOOTER ==== */


footer {
    height: 65vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19, 19, 19);
    color: white;
    padding-left: 60px;
}

footer .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    font-family: 'Ubuntu';
}

footer .logo img {
    margin-top: -70px;
    margin-bottom: 70px;
}

footer .logo h3 {
    font-size: 3rem;
}

footer .logo p {
    font-family: 'Ubuntu-Light';
    font-size: 2rem;
}

footer .legal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .legal a {
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu-Light';
    font-size: 2rem;
    padding: 20px 0;
}

footer .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    height: 50%;
    margin-top: -80px;
}

footer .form label {
    font-size: 3rem;
    margin-bottom: 20px;
}

footer .form input {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

input[type="email"] {
    text-align: left;
    font-size: 20px;
}

footer .form a {
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: #DFAA5B;
    font-size: 2.4rem;
    text-align: center;
}

footer .form a:hover {
    background-color: grey;
}


/* ===== Media Queries ===== */

@media only screen and (max-width: 600px) {
    header {
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header div:nth-of-type(2) {
        display: block;
    }

    header div img {
        padding: 1px;
    }

    header nav {
        display: none;
    }


    .hero {
        background: contain no-repeat;
        background-size: 180vh;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .hero h2 {
        font-size: 1.6rem;
    }

    .hero a {
        padding: 1vh;
    }

    /* //////  FACILITIES  //////  */

    .facilities h2 {
        font-size: 3rem;
    }

    .facilities .icons img {
        width: 80%;
        margin: 0 auto;
    }

    .facilities .icons figure figcaption {
        font-size: 2rem;
    }

    /* //////  ROOMS  //////  */

    .rooms h2 {
        font-size: 3rem;
    }

    .rooms .twinroom:nth-of-type(1),
    .rooms .twinroom:nth-of-type(2),
    .rooms .twinroom:nth-of-type(3),
    .rooms .twinroom:nth-of-type(4) {
        width: 80%;
    }


    /* //////  BOOKING  //////  */

    .booking h2 {
        font-size: 3rem;
    }
    
    .booking a {
        font-size: 1.7rem;
        width: 50%;
    }

    /* //////  FOOTER  //////  */

    footer  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120vh;
        padding: 0;
    }

    footer .logo img {
        align-self: center;
        width: 40%;
        margin: 0 auto;
        padding-bottom: 25px;
    }

    footer .logo h3 {
        font-size: 2rem;
    }

    footer .logo p {
        font-size: 1.7rem;
    }

    footer .legal {
        text-align: left;
        width: 52%;
        margin-top: 15px;
    }

    footer .form {
        width: 90%;
    }

    footer .form label {
        font-size: 2.6rem;
        align-self: center;
    }

    footer .form input {
        width: 70%;
        margin: 0 auto;
    }

    footer .form a {
        width: 70%;
        margin: 10px auto;

    }

}






